In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('raw_data.csv')

/Users/mani/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,symbol,Date,Open,High,Low,Close,Adj.Close,Volume,revenue,gross_profit,...,MFI,Volat,CMO.Ad,CMO.Vo,RunMean,RunSD,GMMA,KST,DPO,DVI
0,BIDU,2014-01-16,171.300003,174.570007,169.750000,173.000000,173.000000,2975000,9.522913e+09,5.866424e+09,...,42.611467,0.195193,5.660541,-36.456573,133.189018,190.302970,1.332843e+07,-315.754725,-11480300,0.596032
1,QCOM,2014-01-16,74.470001,74.879997,74.010002,74.720001,65.324356,10263200,6.622000e+09,3.916000e+09,...,39.304866,0.194706,-2.040986,2.451821,104.865723,173.466198,1.179582e+07,-294.546266,-8751740,0.768254
2,IBM,2014-01-16,187.529999,188.990005,186.800003,188.759995,163.875153,4770300,2.738500e+10,1.062700e+10,...,45.818767,0.192173,6.384432,-13.435674,121.638723,172.565988,8.283059e+06,-246.890280,-9011560,0.613492
3,CSCO,2014-01-16,22.850000,22.910000,22.629999,22.780001,19.831251,38918100,1.208500e+10,7.407000e+09,...,40.648559,0.182808,-0.972015,7.983797,123.149723,171.520173,2.360058e+07,-191.905480,25906940,0.378571
4,ADBE,2014-01-16,61.590000,61.980000,61.259998,61.630001,61.630001,3747800,1.000120e+09,8.516110e+08,...,43.238445,0.175726,1.249604,-4.414016,125.623723,170.311890,1.367419e+07,-113.246354,-9203390,0.365079

In [13]:
df.gross_profit

0        5.866424e+09
1        3.916000e+09
2        1.062700e+10
3        7.407000e+09
4        8.516110e+08
5        6.836390e+08
6        1.640000e+09
7        7.613000e+09
8        1.895000e+09
9        9.452000e+09
10       9.423830e+08
11       8.611878e+09
12       7.333000e+09
13       6.040000e+08
14       1.492800e+10
15       8.206000e+09
16       6.915000e+09
17       2.974100e+10
18       7.730000e+09
19       4.052000e+09
20       9.344670e+08
21       1.638000e+09
22       1.211000e+10
23       1.737024e+09
24       1.626000e+10
25       1.820045e+09
26       1.150000e+09
27       3.405000e+09
28       3.391200e+10
29       2.440000e+09
             ...
18030    8.078470e+08
18031    9.458000e+09
18032    7.006000e+09
18033    4.066000e+09
18034    1.473500e+10
18035    7.532000e+09
18036    8.206000e+09
18037    1.881000e+09
18038    1.050444e+09
18039    6.760000e+08
18040    1.968100e+10
18041    7.525000e+09
18042    1.456800e+10
18043    1.881000e+09
18044    8.206000e+09
18045    9.111000e+09
18046    1.026783e+09
18047    1.007222e+10
18048    1.202000e+09
18049    9.436000e+09
18050    3.381000e+09
18051    7.427000e+09
18052    7.721000e+09
18053    9.983000e+09
18054    7.173000e+09
18055    8.206000e+09
18056    4.980000e+08
18057    3.510000e+09
18058    1.288284e+09
18059    9.014000e+09
Name: gross_profit, Length: 18060, dtype: float64

In [31]:
df.cash_from_operation= pd.to_numeric(df.cash_from_operation)

ValueError: Unable to parse string "t" at position 789

In [39]:
df = df.drop([789])

In [40]:
df.iloc[789,:]

symbol                                 ADBE
Date                             2018-01-29
Open                                 200.11
High                                 200.86
Low                                  197.87
Close                                198.23
Adj.Close                            198.23
Volume                              1939000
revenue                         2.07895e+09
gross_profit                    1.82004e+09
net_income                      5.83076e+08
cash_from_operation               989601000
basic_earning_per_share                1.18
free_cash_flow                  1.04756e+09
market_capital                  9.74456e+10
enterprise_value                   1.01e+11
VWAP_volume                         1488985
VWAP_bid_volume_percentage          48.3109
VWAP_ask_volume_percentage          51.6891
px_ask                               198.23
px_bid                               198.19
px_mid                               198.21
px_volume                           1938978
total_analyst_recommendation             34
turn_over                       3.85714e+08
egy_rec                               4.382
MACD                                15.9414
RSI                                 50.4335
TRIX                                0.59109
SAR                                   43.29
ROC.Vo                             -2.72069
ROC.Cl                              1.52151
CCI                                 11.5087
ATR                                 230.593
SMI                                -49.9545
ADX                                  6.3572
Aroon                                    80
BB                                 0.525096
ChaikinVol                        0.0386114
CLV                              -0.0566961
EMV                                 10.4194
MFI                                 60.0392
Volat                              0.196722
CMO.Ad                              4.45396
CMO.Vo                             -1.05257
RunMean                             217.546
RunSD                                344.86
GMMA                            1.06699e+07
KST                                 164.732
DPO                                -9948440
DVI                                0.830159
Name: 790, dtype: object

In [41]:
df.cash_from_operation= pd.to_numeric(df.cash_from_operation)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18059 entries, 0 to 18059
Data columns (total 51 columns):
symbol                          18059 non-null object
Date                            18059 non-null object
Open                            18059 non-null float64
High                            18059 non-null float64
Low                             18059 non-null float64
Close                           18059 non-null float64
Adj.Close                       18059 non-null float64
Volume                          18059 non-null int64
revenue                         18059 non-null float64
gross_profit                    18059 non-null float64
net_income                      18059 non-null float64
cash_from_operation             18059 non-null float64
basic_earning_per_share         18059 non-null float64
free_cash_flow                  18059 non-null float64
market_capital                  18059 non-null float64
enterprise_value                18059 non-null float64
VWAP_volume                     18059 non-null int64
VWAP_bid_volume_percentage      18059 non-null float64
VWAP_ask_volume_percentage      18059 non-null float64
px_ask                          18059 non-null float64
px_bid                          18059 non-null float64
px_mid                          18059 non-null float64
px_volume                       18059 non-null int64
total_analyst_recommendation    18059 non-null int64
turn_over                       18059 non-null float64
egy_rec                         18059 non-null float64
MACD                            18059 non-null float64
RSI                             18059 non-null float64
TRIX                            18059 non-null float64
SAR                             18059 non-null float64
ROC.Vo                          18059 non-null float64
ROC.Cl                          18059 non-null float64
CCI                             18059 non-null float64
ATR                             18059 non-null float64
SMI                             18059 non-null float64
ADX                             18059 non-null float64
Aroon                           18059 non-null int64
BB                              18059 non-null float64
ChaikinVol                      18059 non-null float64
CLV                             18059 non-null float64
EMV                             18059 non-null float64
MFI                             18059 non-null float64
Volat                           18059 non-null float64
CMO.Ad                          18059 non-null float64
CMO.Vo                          18059 non-null float64
RunMean                         18059 non-null float64
RunSD                           18059 non-null float64
GMMA                            18059 non-null float64
KST                             18059 non-null float64
DPO                             18059 non-null int64
DVI                             18059 non-null float64
dtypes: float64(43), int64(6), object(2)
memory usage: 7.8+ MB

In [43]:
df.to_csv('raw_data.csv',index=False)